.u_width_100 {
    width: 100%;
}

.u_width_height_100 {
    width: 100%;
    height: 100%
}

.u_flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.u_margin_bottom_7 {
    margin-bottom: 7px;
}